<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ .Lang | default "en-GB" }}" lang="{{ .Lang | default "en-GB" }}" prefix="og: http://ogp.me/ns#">
<head>
	
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<meta name="author" content="{{ .Params.Author | default .Site.Params.Author }}" />
	<meta name="description" content="{{ .Description | default .Site.Params.Description }}" />

	{{ partial "schema.html" . }}
	{{ partial "opengraph.html" . }}
	{{ partial "twitter-cards.html" . }}

	<title>{{ block "title" . }}{{ .Title }}{{ if ne .Title .Site.Title }} | {{ .Site.Title }}{{ end }}{{ end }}</title>
	
	<link href="{{ .Permalink }}" rel="canonical">

	{{ partial "favicon.html" . }}
	{{ partial "css.fonts.html" . }}
	{{ partial "css.icons.html" . }}
	{{ partial "css.bootstrap.html" . }}
	{{ partial "css.custom.html" . }}

    {{ if .Site.RSSLink }}
    <link href="{{ .Site.RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}

	{{ partial "google-analytics.html" . }}
	{{ partial "cookie-consent.html" . }}

</head>
<body>
	{{ block "header" . }}
		{{ partial "header" . }}
    {{ end }}
    {{ block "body" . }}
    <main class="container py-4">
		<div class="row">
			<div class="blog-main col-12 col-lg-8">
				{{ block "main" . }}
				{{ end }}
			</div>
			{{ partial "sidebar.html" . }}
		</div>
    </main>
    {{ end }}
    {{ block "footer" . }}
		{{ partial "footer" . }}
    {{ end }}
	{{ partial "js.bootstrap.html" . }}
	{{ partial "js.custom.html" . }}
</body>
</html>
